	body {
	background-image: url(img/fish-tank.png);
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font: 1em "Avenir";
	}
	/* The container that the card is centred inside. */
	.container {
	position: fixed !important;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	}
	
	/* This is the card. */
	.card {
	padding: 10px;
	width: 440px;
	height: 280px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	}
	/* Padding so the type doesn't hit the edge of the card. */
	
	p {
	padding: 10px;
        position: fixed;
        font-family: 'Cabin Condensed', sans-serif;
        color: #FFF;
	}
    
	/* The CSS for the fade in. */ 
	@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	.fade-in {
	opacity:0;  /* Make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* Call the keyframe named fadeIn, use animattion ease-in and repeat it only 1 time. */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;  /* This makes sure that after animation is done we remain at the last keyframe value (opacity: 1). */
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
	}
    
 .fish1 {
  animation-duration: 5s;
  animation-name: fish1;
  position: absolute;
  right: 0;
 
}

@keyframes fish1 {
  from {
    transform: translateX(0); 
    
  }

  to {
    transform: translateX(-100px);
  }
}
    
    .fish2 {
  animation-duration: 5s;
  animation-name: fish1;
  position: absolute;
  animation-direction: reverse;
  bottom: 500px;
  left: 950px;
  
}

@keyframes fish2 {
  from {
    transform: translateX(100); 
    
  }

  to {
    transform: translateX(3000px);
  }
}
    
   
    
     .fish3 {
  animation-duration: 5s;
  animation-name: fish1;
  position: absolute;
  bottom: 500px;
  right: 500px;
}

@keyframes fish3 {
  from {
    transform: translateX(0); 
    
  }

  to {
    transform: translateX(-100px);
  }
}
    
    
    .fish4 {
  animation-duration: 4s;
  animation-name: fish1;
  position: absolute;
  animation-direction: reverse;
  bottom: 500px;
  left: 200px;
}

@keyframes fish4 {
  from {
    transform: translateX(0); 
    
  }

  to {
    transform: translateX(-200px);
  }
}
    
    .fish5 {
  animation-duration: 7s;
  animation-name: fish1;
  position: absolute;
  animation-direction: reverse;
  bottom: 300px;
  left: 200px;
}

@keyframes fish5 {
  from {
    transform: translateX(0); 
    
  }

  to {
    transform: translateX(-200px);
  }
}
    
    
    
    
    
    
    
    .button {
        position: absolute;
        bottom: 0;
        left:0;
        margin: 0 0 2em 27em;
        background: url(img/rock.png);
        background-size: 100%;
        padding: 43px 50px;
        border: 0;
        cursor: pointer;
        color: white;
    }
    
    .button:focus {
        outline: none;
    }
    
    .button:active {
        transform: scale(1.1);
}